:root{
    /* --primario: #9c27b0;
    --primarioOscuro: #89119d;

    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,287,2); */
    --primario: #3A5BA0    ;
    --primarioOscuro: #1F4690;

    --secundario: #FFA500;
    --secundarioOscuro: #d68b00;

    --alternativo: #FFE5B4;

    --blanco: #fff;
    --negro: #000;

    --fuentePrinccipal: 'Staatliches', cursive;

}

html{
    font-size: 62.5%;
    box-sizing: border-box;

}

*, *::before, *::after{
    box-sizing: inherit;
}

/* Globales */
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrinccipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
.contenedor{
    max-width: 90rem;
    margin: 0 auto;
}

/*Header*/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

/* Footer */
.footer{    
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;


}
.footer__texto{
    text-align: center;
}

/* Navegacion */
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
}
.navegacion__enlace{
    font-family: var(--fuentePrinccipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;
}
.navegacion__enlace:last-of-type{
    margin-right: 0;
}

.navegacion__enlace--activo, .navegacion__enlace:hover{
    color: var(--secundario);
}
/* Grid */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;

}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Productos */
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
    border-radius: 2%;

}
.producto__imagen{
    border-radius: 5%;
}

.producto__nombre{
    font-size: 4rem;
}
.producto__precio{
    font-size: 2.8rem;
}

.producto__nombre, .producto__precio{
font-family: var(--fuentePrinccipal);
margin: 1rem 0;
text-align: center;
line-height: 1.2;
}

/* Graficos */
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.grafico--camisas{
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node{
    grid-row: 8/9;
    grid-column: 1/3;
    background-image: url(../img/grafico2.jpg);
}
@media (min-width: 768px) {
    .grafico--camisas{
        border-radius: 1%;
    }
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
        border-radius: 1%;
    }
}

/* Nosotros */

.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}
.nosostros__contenido{
    padding: 0 2rem;
}
.nosotros__imagen{
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}

/* Bloques */
.bloques{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.bloque{
    text-align: center;
}
.bloque__titulo{
    margin: 0;
}

@media (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4,1fr);
    }
}

/* Producto */
.camisa__contenido{
    padding: 0 2rem;
}
.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* padding: 0 2rem; */
}
.formulario__campo{
    background-color: var(--primario);
    border: .5rem solid var(--primarioOscuro);
    color: var(--blanco);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    
}
.formulario__submit{
    background-color: var(--secundario);
    border:none;
    font-size: 2rem;
    font-family: var(--fuentePrinccipal);
    padding: 2rem;
    transition: background-color .5s ease;
    grid-column: 1/3;
}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
@media (min-width: 768px) {
    .camisa{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
       }
       .camisa__imagen{
        border-radius: 2% ;
    }
}

